h2{
    text-align:center;
    font-style: italic;
    color: salmon;
}
button{
    float:left;
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    color: black;
    background-color: #e0e0e0;
    font:inherit;
}
.calculator{
    padding: 0;
    margin: 0 auto;
    width: 475px;
    height: 325px;
    border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: black;
}
#display{
    line-height: 75px;
    padding: 0 15px 0 15px;
    width: 378px;
    height: 75px;
    border: 1px solid gray;
    background-color: #979797;
    border-radius: 15px 15px 0 0;
    color: white;
    font-size: 48px;
    text-align: right;
}
.button_long{
    width:100px;
    padding:0 0 0 20px;
    text-align:left;
}
.ops,
.eval {
 background-color: #ef8d30;
 color: white
}
.num,
#dot {
 background-color: #f0f0f0;
}
button:active {
 background-color: #b7b7b7;
}
button:focus {
 outline: none;
}
.ops:active,
.eval:active {
 background-color: #cf7d20;
 color:#676767;
}
.bottom_right {
 border-radius: 0 0 15px 0;
}
.bottom_left {
 border-radius: 0 0 0 15px;
}
.new{
    width:70px;
    font-size:15px;
}